body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
p{
    margin: 0;

}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}



/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("../images/black.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;

    text-align: center;
}

.intro__title {
    text-shadow: red 0 0 5px;
    color: white;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}

.intro__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 60px auto;

    background-color: grey;
}

/* Header */
.header {
    width: 100%;
    padding-top: 30px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 70px; height: 70px; /* Ширина и высота */
    border-radius: 50%; /* Превращаем в круг */
     background: url(../images/snake.jpg) no-repeat -11px -10px; /* Параметры фона */
    background-size: auto 90px; /* Высота фотографии равна высоте элемента */

    font-size: 30px;
    font-weight: 700;
    color: #fff;
}


/* Nav */
.nav {
    
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    
    margin: 0 20px;
    position: relative;

    color: grey;
    text-decoration: none;

    transition: color .1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: red;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover {
    color:white;
}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}

.nav__link.active {
    color: white;
}


/* Button */
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;

    border: 3px solid grey;

    font-size: 14px;
    font-weight: 700;
    color: grey;
    text-transform: uppercase;
    text-decoration: none;

    transition: background .1s linear, color .1s linear;
}

.btn:hover {
    background-color: white;
    color: black;
    border: 3px solid red;
}



/* Slider */
.slider {
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.slider__inner {
    display: flex;
    justify-content: space-between;
}

.slider__item {
    width: 23%;
    padding: 20px 0;
    position: relative;

    border-top: 3px solid #fff;
    opacity: .7;

    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.slider__item.active {
    opacity: 1;
}

.slider__item.active:before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;

    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
}

.slider__num {
    font-size: 24px;
    font-weight: 700;
}

/*about
==================================================*/

.about__section {
    max-height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: black;
}

.about__section:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .8);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.about__content {
    display: flex;
    flex-direction: column;
    justify-content: top;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.about__title {
    margin: 0;

    text-align: center;

    text-shadow: red 0 0 4px; /* Свечение голубого цвета */
    color: white;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

.about__container {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding-bottom: 90px;
}

.video {
    position: relative;
    z-index: 1;
    padding-bottom: 56.25%;
}

.video__media {
    width: 100%;
    height: auto;

    position: absolute;
    top: 0;
    left: 0;
}
.about__text{
    margin-top: 80px;
    font-size: 20px;
    color: #999;

}


/*========================================================*/

/* Section */

.realeses {
    margin-top: 100px; 
    background-color: black;
    padding: 80px 0;
    max-height: 100vh;
}

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;

    text-align: center;
}

.section__title {
    text-shadow: red 0 0 4px; /* Свечение голубого цвета */
    color: white;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

.section__text {
    font-size: 15px;
    color: #999;
}

.section__work{
    margin: 20px;
    background: url(../images/work.jpg)
    center no-repeat;
    -webkit-background-size:cover;
    background-size: cover; 
}


.realeses__content{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
}

.realeses__item{

    position: relative;
    border-radius: 50%;
    background-color: white;
    width: 350px;

}

.realeses__item:hover .realeses__img{
    transform: scale(1.09);
    transform: translate3d(0, -15px, 0);
}

.realeses__item:hover .realeses__img img{
    opacity: .3;
}

.realeses__item:hover .realeses__text{
    opacity: 1;
}


.realeses__item:hover .realeses__icon{
    opacity: 1;
}

.realeses__img{

    border-radius: 50%;
    background:linear-gradient(to bottom, #ec6666, #2a35c7);
    transition: transform .2s linear;
    transition: translate3d .2 linear;
}

.realeses__img img{
    border-radius: 50%;
    display: block;
    transition: opacity .1s linear;
}

.realeses__text{

    width: 100%;
    text-shadow: white 0 0 4px; /* Свечение голубого цвета */
    color: #fdfdfd;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0;



    position: absolute;
    top: 15%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50, 0);

    text-align: center;
    transition: opacity .2s linear;
}

.realeses__icon{
    width: 100%;
    text-shadow: red 0 0 4px; /* Свечение голубого цвета */
    color: black;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0;



    position: absolute;
    top: 35%;
    left: 0;
    z-index: 3;
    transform: translate3d(0, -50, 0);

    text-align: center;
    transition: opacity .2s linear;
}

.social{
    display: flex;
    justify-content: center;
}

.social__item:hover{
    transform: translate3d(0, -10px, 0)
    scale(1.2);
}

.social__item:active{
    color:black;
    text-shadow: white 0 0 4px;
}

.social__item{
    color: white;
    margin: 0 20px;
    font-size: 40px;
    text-decoration: none;
     
    transition: transform .1s linear;
}

